<!DOCTYPE html>
<html lang="zh">
<head>
  <#assign title="网站配置">
  <#include "/head.html">
</head>
  
<body>
<div class="container-fluid p-t-15">
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            
            <form id="submitForm" action="" method="post" class="edit-form">
              <div class="form-group">
                <label for="web_site_title">网站标题</label>
                <input class="form-control" type="text" id="web_site_title" name="web_site_title" value="${config.web_site_title}" placeholder="请输入站点标题">
              </div>
              <div class="form-group">
                <label>LOGO类型</label>
                <div class="form-controls">
                  <div class="custom-control custom-radio custom-control-inline">
		            <input type="radio" id="typeText" name="web_site_logo_type" class="custom-control-input" value="TEXT" <#if config.web_site_logo_type == 'TEXT'>checked</#if>>
		            <label class="custom-control-label" for="typeText">文字</label>
		          </div>
	              <div class="custom-control custom-radio custom-control-inline">
		            <input type="radio" id="typeImage" name="web_site_logo_type" class="custom-control-input" value="IMAGE" <#if config.web_site_logo_type == 'IMAGE'>checked</#if>>
		            <label class="custom-control-label" for="typeImage">图片</label>
		          </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="web_site_logo_text">LOGO文字</label>
                <input class="form-control" type="text" id="web_site_logo_text" name="web_site_logo_text" value="${config.web_site_logo_text}" placeholder="请输入站点LOGO">
              </div>
              
              <div class="form-group file-group">
                <label for="web_site_logo_image">LOGO图片</label>
	            <div class="input-group">
	              <input type="text" class="form-control file-value" id="web_site_logo_image" name="web_site_logo_image" value="${config.web_site_logo_image}" placeholder="LOGO图片地址" />
	              <input type="file" class="d-none" file-type="image" />
	              <div class="input-group-append">
	                <button class="btn btn-default file-browser" type="button">上传图片</button>
	              </div>
	            </div>
	            <small class="help-block">为保证显示效果，LOGO图片大小不要超过240x36</small>
              </div>
              
              
              <div class="form-group">
                <label for="upload_image_ext">上传图片类型</label>
                <input class="form-control" type="text" id="upload_image_ext" name="upload_image_ext" value="${config.upload_image_ext}">
                <small class="help-block">多个后缀用逗号隔开，不填写则不限制类型</small>
              </div>
              <div class="form-group">
                <label for="web_site_keywords">站点关键词</label>
                <input class="form-control" type="text" id="web_site_keywords" name="web_site_keywords" value="${config.web_site_keywords}" placeholder="请输入站点关键词">
                <small class="help-block">网站搜索引擎关键字</small>
              </div>
              <div class="form-group">
                <label for="web_site_description">站点描述</label>
                <textarea class="form-control" id="web_site_description" rows="5" name="web_site_description" placeholder="请输入站点描述">${config.web_site_description}</textarea>
                <small class="help-block">网站描述，有利于搜索引擎抓取相关信息</small>
              </div>
              <div class="form-group">
                <label for="web_site_copyright">版权信息</label>
                <textarea class="form-control" id="web_site_copyright" name="web_site_copyright" placeholder="请输入版权信息">${config.web_site_copyright}</textarea>
              </div>
              <div class="form-group file-group">
                <label for="login_page_bg_image">登录页背景图片</label>
	            <div class="input-group">
	              <input type="text" class="form-control file-value" id="login_page_bg_image" name="login_page_bg_image" value="${config.login_page_bg_image}" placeholder="登录页背景图片地址" />
	              <input type="file" class="d-none" file-type="image" />
	              <div class="input-group-append">
	                <button class="btn btn-default file-browser" type="button">上传图片</button>
	              </div>
	            </div>
              </div>
              <div class="form-group">
                <label>登录页样式</label>
                <div class="form-inline" style="height: 36px;">
	                <div class="form-controls mb-2 mr-sm-2">
	                  <div class="custom-control custom-radio custom-control-inline">
			            <input type="radio" id="type1" name="login_page_template_radio" class="custom-control-input" value="1">
			            <label class="custom-control-label" for="type1" data-toggle="popover" data-img="wanAdmin/images/login_page1.png">1.居中（默认）</label>
			          </div>
		              <div class="custom-control custom-radio custom-control-inline">
			            <input type="radio" id="type2" name="login_page_template_radio" class="custom-control-input" value="2">
			            <label class="custom-control-label" for="type2" data-toggle="popover" data-img="wanAdmin/images/login_page2.png">2.居中透明</label>
			          </div>
		              <div class="custom-control custom-radio custom-control-inline">
			            <input type="radio" id="type3" name="login_page_template_radio" class="custom-control-input" value="3">
			            <label class="custom-control-label" for="type3" data-toggle="popover" data-img="wanAdmin/images/login_page3.png">3.居中分栏</label>
			          </div>
		              <div class="custom-control custom-radio custom-control-inline">
			            <input type="radio" id="type4" name="login_page_template_radio" class="custom-control-input" value="4">
			            <label class="custom-control-label" for="type4" data-toggle="popover" data-img="wanAdmin/images/login_page4.png">4.居右</label>
			          </div>
		              <div class="custom-control custom-radio custom-control-inline">
			            <input type="radio" id="type0" name="login_page_template_radio" class="custom-control-input" value="0">
			            <label class="custom-control-label" for="type0">自定义</label>
			          </div>
	                </div>
		          	<input class="form-control" type="text" id="login_page_template_type" name="login_page_template_type" value="${config.login_page_template_type}" placeholder="请输入登录页文件名后缀">
                </div>
                <small id="zdyTip" class="help-block">自定义的登录页需存放在templates/login文件夹下，且文件名为login前缀，如loginMy.html，则填写My</small>
              </div>
              <div class="form-group">
                <label for="multitabs_cache">菜单标签页缓存</label>
                <div class="controls-box clearfix">
                  <div class="custom-control custom-radio custom-control-inline">
	                <input type="radio" id="cache0" name="multitabs_cache" class="custom-control-input" value="0" <#if !config.multitabs_cache?? || config.multitabs_cache == '0'>checked</#if>>
	                <label class="custom-control-label" for="cache0">关闭（默认）</label>
	              </div>
	              <div class="custom-control custom-radio custom-control-inline">
	                <input type="radio" id="cache1" name="multitabs_cache" class="custom-control-input" value="1" <#if config.multitabs_cache == '1'>checked</#if>>
	                <label class="custom-control-label" for="cache1">开启</label>
	              </div>
                </div>
                <small class="help-block">开启菜单标签页缓存，在不关闭窗口的情况下，直接刷新页面能保留所有标签页</small>
              </div>
            </form>
            
            <button class="btn btn-primary m-r-5" onclick="doSubmit()">确认保存</button>
            <button class="btn btn-default m-r-5" onclick="removeCache()">删除缓存</button>
		
		</div>
      </div>
    </div>
        
  </div>
  
</div>

<#include "/footer.html">

<script type="text/javascript">
var prefix = "system/config";

$('[data-toggle="popover"]').popover({
	placement: 'top',
	trigger: 'hover',
	html: true,
	content: function() {
		return '<img src="' + $(this).data('img') + '" />';
	}
});

$(':radio[name="web_site_logo_type"]').change(function() {
	checkLogoType();
});

$(':radio[name="login_page_template_radio"]').change(function() {
	var radioType = $(':radio[name="login_page_template_radio"]:checked').val();
	if (radioType == '0') {
		$('#login_page_template_type').val('');
		$('#login_page_template_type').show();
		$('#zdyTip').show();
	} else {
		$('#login_page_template_type').hide();
		$('#login_page_template_type').val(radioType);
		$('#zdyTip').hide();
	}
});

checkLogoType();
checkLoginPageTemplateType();

function checkLogoType() {
	var logoType = $(':radio[name="web_site_logo_type"]:checked').val();
	if (logoType == 'IMAGE') {
		$('#web_site_logo_image').parents('.form-group').show();
		
		$('#web_site_logo_text').parent().hide();
		$('#web_site_logo_text').val('');
	} else {
		$('#web_site_logo_text').parent().show();
		
		$('#web_site_logo_image').parents('.form-group').hide();
		$('#web_site_logo_image').val('');
	}
}

function checkLoginPageTemplateType() {
	var tplType = $('#login_page_template_type').val();
	var radio = $(':radio[name="login_page_template_radio"][value="'+tplType+'"]');
	$(':radio[name="login_page_template_radio"]').attr('checked', false);
	
	if (tplType == '') {
		$('#login_page_template_type').hide();
		$('#zdyTip').hide();
		$(':radio[name="login_page_template_radio"][value="1"]').attr('checked', true);
		return;
	}
	
	if (radio.length > 0 && tplType != '0') {
		$('#login_page_template_type').hide();
		$('#zdyTip').hide();
		radio.attr('checked', true);
	} else {
		$('#login_page_template_type').show();
		$('#zdyTip').show();
		$(':radio[name="login_page_template_radio"][value="0"]').attr('checked', true);
	}
}

function doSubmit() {
	var $form = $('#submitForm');

	ajaxPost({ 
		url: prefix + '/update',
		data: $form.serialize()
	});
}
</script>

</body>
</html>