<!--通用-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!--表格插件-->
<script type="text/javascript" src="js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>

<!--layer弹窗插件 -->
<script type="text/javascript" src="js/layer/layer.min.js"></script>

<!--表单验证 -->
<script type="text/javascript" src="js/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery-validate/messages_zh.min.js"></script>

<!--图标选择插件 -->
<script type="text/javascript" src="js/fontIconPicker/jquery.fonticonpicker.min.js"></script>

<!--日期选择器-->
<script type="text/javascript" src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<!--富文本编辑器-->
<script type="text/javascript" src="js/summernote/summernote.min.js"></script>
<script type="text/javascript" src="js/summernote/lang/summernote-zh-CN.min.js"></script>

<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="wanAdmin/common.js"></script>