<#assign path="${request.getContextPath()}">

<base href="${path}/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>${title}</title>
<meta name="keywords" content="">
<meta name="description" content="">

<!--通用-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/materialdesignicons.min.css" rel="stylesheet">

<!--表格插件-->
<link href="js/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="js/jquery-treegrid/jquery.treegrid.min.css" rel="stylesheet">

<!--图标选择插件 -->
<link href="js/fontIconPicker/css/jquery.fonticonpicker.min.css" rel="stylesheet">
<link href="js/fontIconPicker/themes/bootstrap-theme/jquery.fonticonpicker.bootstrap.min.css" rel="stylesheet">

<!--日期选择器 -->
<link href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">

<!--富文本编辑器-->
<link href="js/summernote/summernote.min.css" rel="stylesheet">

<link href="css/style.min.css" rel="stylesheet">