<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="keywords" content="${config.web_site_keywords}">
<meta name="description" content="${config.web_site_description}">
<title>${config.web_site_title}</title>
<#assign path="${request.getContextPath()}">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="js/bootstrap-multitabs/multitabs.min.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="css/style.min.css">
<style>
#logo a {
    font-size: 22px;
    line-height: 68px;
    white-space: nowrap;
    color: #4d5259;
}
[data-logobg*='color_'] #logo a {
    color: #fff;
}
@media (min-width: 1024px) {
    .lyear-layout-sidebar.lyear-aside-open #logo a {
        display: block;
        width: 45px;
        height: 68px;
        letter-spacing: 3px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
    
    .lyear-layout-sidebar-close .lyear-layout-sidebar:hover #logo a {
        width: 100%;
        margin: 0;
        letter-spacing: 0px;
    }
}
.noticeBlank {
	text-align: center;
	padding-top: 36px;
}
</style>
</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
      
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="${path}/">
          <#if config.web_site_logo_type == 'TEXT'>
        	${config.web_site_logo_text}
          </#if>
          <#if config.web_site_logo_type == 'IMAGE'>
        	<img src="${config.web_site_logo_image}" title="wanAdmin" alt="wanAdmin" />
          </#if>
        </a>
      </div>
      <div class="lyear-layout-sidebar-info lyear-scroll"> 
        
        <nav class="sidebar-main">
          <ul class="nav-drawer">
            <li class="nav-item active"> <a class="multitabs" href="main"><i class="mdi mdi-home"></i> <span>首页</span></a> </li>
            
            <#list menuList as menu><!-- 一级菜单 -->
              
              <#if user.authorities?seq_contains(menu.permissionValue)>
            
	              <#if menu.submenus?size gt 0>
	              
	                <li class="nav-item nav-item-has-subnav">
		              <a href="javascript:void(0)"><i class="${menu.icon}"></i> <span>${menu.name}</span></a>
		              <ul class="nav nav-subnav">
		              	<#list menu.submenus as submenu2><!-- 二级菜单 -->
		              	
		              	  <#if user.authorities?seq_contains(submenu2.permissionValue)>
		              	  
			              	  <#if submenu2.submenus?size gt 0>
			              	  	
			              	  	<li class="nav-item nav-item-has-subnav">
			              	  	  <a href="javascript:void(0)">${submenu2.name}</a>
			              	  	  <ul class="nav nav-subnav">
			              	  	  	
			              	  	  	<#list submenu2.submenus as submenu3><!-- 三级菜单 -->
			              	  	  	
			              	  	  	  <#if user.authorities?seq_contains(submenu3.permissionValue)>
			              	  	  	
			              	  	  	  	<li> <a class="multitabs" href="${submenu3.url!'#'}">${submenu3.name}</a> </li>
			              	  	  	
			              	  	  	  </#if>
			              	  	  	
			              	  	  	</#list>
			              	  	  	
			              	  	  </ul>
			              	  	</li>
			              	  	
			              	  <#else>
			              	  	<li> <a class="multitabs" href="${submenu2.url!'#'}">${submenu2.name}</a> </li>
			              	  </#if>
		              	  
		              	  </#if>
		              	
		              	</#list>
		              </ul>
		            </li>
		            
	              <#else>
	                <li class="nav-item"> <a class="multitabs" href="${menu.url!'#'}"><i class="${menu.icon}"></i> <span>${menu.name}</span></a> </li>
	              </#if>
              
              </#if>
            
            </#list>
            
          </ul>
        </nav>
        
        <div class="sidebar-footer">
          <p class="copyright">${config.web_site_copyright}</p>
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar">
      
        <div class="navbar-left">
          <div class="lyear-aside-toggler">
            <span class="lyear-toggler-bar"></span>
            <span class="lyear-toggler-bar"></span>
            <span class="lyear-toggler-bar"></span>
          </div>
        </div>
        
        <ul class="navbar-right d-flex align-items-center">
          <li class="dropdown dropdown-notice">
            <span data-toggle="dropdown" class="icon-item">
              <i class="mdi mdi-bell-outline"></i>
              <span class="badge badge-danger" id="noticeCount"></span>
            </span>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="lyear-notifications">
                
                <div class="lyear-notifications-title clearfix" data-stopPropagation="true">
	                <a href="javascript:void(0)" class="float-right" onclick="openNoticeTab()">查看全部</a>
	                <span id="noticeMsg"></span>
                </div>
                <div class="lyear-notifications-info lyear-scroll" id="noticeList"></div>
                
              </div>
            </div>
          </li>
          <!--切换主题配色-->
		  <li class="dropdown dropdown-skin">
		    <span data-toggle="dropdown" class="icon-item"><i class="mdi mdi-palette"></i></span>
			<ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
			  <li class="drop-title"><p>LOGO</p></li>
			  <li class="drop-skin-li clearfix">
                <span class="inverse">
                  <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                  <label for="logo_bg_1"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                  <label for="logo_bg_2"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                  <label for="logo_bg_3"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                  <label for="logo_bg_4"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                  <label for="logo_bg_5"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                  <label for="logo_bg_6"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                  <label for="logo_bg_7"></label>
                </span>
                <span>
                  <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                  <label for="logo_bg_8"></label>
                </span>
			  </li>
			  <li class="drop-title"><p>头部</p></li>
			  <li class="drop-skin-li clearfix">
                <span class="inverse">
                  <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                  <label for="header_bg_1"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                  <label for="header_bg_2"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                  <label for="header_bg_3"></label>
                </span>
                <span>
                  <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                  <label for="header_bg_4"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                  <label for="header_bg_5"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                  <label for="header_bg_6"></label>                      
                </span>                                                    
                <span>                                                     
                  <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                  <label for="header_bg_7"></label>
                </span>
                <span>
                  <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                  <label for="header_bg_8"></label>
                </span>
				</li>
			  <li class="drop-title"><p>侧边栏</p></li>
			  <li class="drop-skin-li clearfix">
                <span class="inverse">
                  <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                  <label for="sidebar_bg_1"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                  <label for="sidebar_bg_2"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                  <label for="sidebar_bg_3"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                  <label for="sidebar_bg_4"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                  <label for="sidebar_bg_5"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                  <label for="sidebar_bg_6"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                  <label for="sidebar_bg_7"></label>
                </span>
                <span>
                  <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                  <label for="sidebar_bg_8"></label>
                </span>
			  </li>
		    </ul>
		  </li>
          <!--切换主题配色-->
          <li class="dropdown dropdown-profile">
            <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
              <#if user.avatar>
                <img class="img-avatar img-avatar-48 m-r-10" src="${user.avatar}" alt="${user.username}" />
              </#if>
              <span>${user.username}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a class="multitabs dropdown-item" data-url="system/user/pwd" href="javascript:void(0)"><i class="mdi mdi-lock-outline"></i> 修改密码</a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a id="logoutBtn" class="dropdown-item" href="logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </nav>
      
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div id="iframe-content"></div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="js/index.min.js"></script>
<!--layer弹窗插件 -->
<script type="text/javascript" src="js/layer/layer.min.js"></script>
<script type="text/javascript" src="wanAdmin/common.js"></script>

<script type="text/javascript">
var path = '${path}';
</script>
<script type="text/javascript" src="wanAdmin/index.js"></script>

</body>
</html>