<!DOCTYPE html>
<html lang="zh">
<head>
	<#assign title="首页">
    <#include "/head.html">
</head>
  
<body>
<div class="container-fluid p-t-15">
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">项目信息</div></header>
        <div class="card-body">
          <p>wanAdmin是基于Spring Boot2.3的后台管理系统解决方案，包含用户管理、角色管理、菜单管理、数据字典等后台管理基础功能。</p>
          
          <p>后端主要技术：</p>
          <ol>
            <li>核心框架：Spring Boot</li>
            <li>安全框架：Spring Security</li>
            <li>模板引擎：Freemarker</li>
            <li>持久层框架：MyBatis</li>
            <li>数据库连接池：Druid</li>
            <li>分布式缓存数据库：Redis</li>
            <li>定时任务框架：Quartz</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="col-md-6"> 
      <div class="card">
        <div class="card-header">
          <div class="card-title">前端主要技术</div>
        </div>
        <div class="card-body">
          <ol>
            <li><a href="https://gitee.com/yinqi/Light-Year-Admin-Using-Iframe-v4" target="_blank">笔下光年</a>后台管理模板</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>Bootstrap Table表格</li>
            <li>TreeGrid表格树</li>
            <li>fontIconPicker字体图标选择</li>
            <li>bootstrap-datepicker日期选择器</li>
            <li>layer弹出层组件</li>
            <li>jQuery Validate验证框架</li>
            <li>Bootstrap Notify通知消息</li>
            <li>summernote文本编辑器</li>
          </ol>
        </div>
      </div>
    </div>
    
    <div class="col-md-6"> 
      <div class="card">
        <div class="card-header">
          <div class="card-title">更新日志</div>
        </div>
        <div class="card-body">
        
          <ul class="lyear-timeline lyear-timeline-left">
          
	        <li class="lyear-timeline-item text-muted">
	          <div class="lyear-timeline-item-dot">
	            <span class="badge"></span>
	          </div>
	          <div class="lyear-timeline-item-content">
	            <p class="mb-1"><strong>2021-05-01</strong></p>
	            <p class="mb-0">wanAdmin后台管理系统v1.0.0发布</p>
	          </div>
	        </li>
          
          </ul>
          
        </div>
      </div>
    </div>
     
  </div>
  
</div>

<#include "/footer.html">

</body>
</html>
